.banner {
  position: relative;

  .banner-row {
    overflow: hidden;
    display: flex;
  }
}

.float-text {
  right: 0;
  font-size: clamp(1rem, calc(10vw + 0.5rem), 1.25rem);
  line-height: 1.1;
}
